#About{
    height:100vh;
    width: 100vw;
    font-family: 'avant-garde';
    font-weight:bold;
    position: relative;
    /* transform: translateY( -5%); */
}
#About2{
    height:100vh;
    width: 100vw;
    font-family: 'avant-garde';
    font-weight:bold;
    /* transform: translateY( -5%); */
}

.hero-text{
    height:100%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:var(--dark-brown);
    font-size: 7.5rem;
    line-height: 84%;
    transform: translateY( -3%);
    
    /* overflow: hidden; */

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-text > div {
    overflow: hidden;
}


.hero-name{
    font-size: 1rem;
    font-weight:400;
    letter-spacing:0.3rem;
    transform: translateY(+10%);
}

.hero-text-orange{
    color:var(--orange);
}


.btm-abt{
    background-color:var(--orange);
}
.btm-abt-text{
    color:var(--black);
}


.about-bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.9) 90%), url("../images/nebula.png");
    background-size: cover;
}

