body, html{
    padding:0;
    margin:0;
    user-select: none;
    background-color: var(--body-bg);
}
@font-face{
    font-family: 'alpino-bold';
    src: url('../fonts/alpino-bold.woff');
}

/* //declare the colors variables */
:root{
    --dark-brown:#9a8e7e;
    --light-brown:#4d4d4d;
    --body-bg:#111011;
}

a{
    text-decoration:none;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
