#bottom-layer{
    position:absolute;
    top:0;
    clip-path: circle(var(--s, 13px) at var(--x, 0%) var(--y, 0%));

    background-color: var(--orange);
}

.black-text{
    color: var(--black);
}


