.top-nav{
    position: fixed;
    top:0;
    left:0;
    box-sizing: border-box;
    width: 100vw;

    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
  
    padding: 2.5rem 4rem;

}
.logo-svg{
    height: 2.5rem;
    width: auto;
}
.top-nav-item{
    display: flex;
    flex-direction:column;
    align-items :flex-end;
    justify-content:space-between;
}

.nav-items-link{
    margin-top:0.4rem;
    text-decoration:none;
    color: #4d4d4d;
    font-family: 'mark-simonson-bold';
}


.top-nav-items{
    margin:0;
    font-size: 0.8rem;
    font-family: 'alpino-bold';
}





.left-nav{
    display: flex;
    flex-direction:column;
    align-items:space-between;

    position: absolute;
    bottom: 0;
    left:0;
    padding: 3rem 4rem;
}
.left-nav>a{
    margin: 0.5rem 0;
}

.left-nav>a>svg{
    margin-top: 0.5rem;
    height:1.2rem;
}



.right-nav{
    position: fixed;
    bottom:0;
    right:0;
    
    padding: 5.7rem 1rem;
   
    rotate: -90deg;
        
    color: #9a8e7e;
    font-family: 'alpino-bold';  
    font-size:0.8rem;
}
.sound-btn{
    color:#4d4d4d;
    margin-right: 0.3rem;
}
.sound-btn:hover{
    color:#9a8e7e;
}


/*  for the on off button */
#sound-click-container{
    display: flex;
    flex-direction: row;


}

#sound-on-off-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;


   clip-path: rect(10px, 20px, 30px, 40px);
}

#sound-click-container{
    position:relative;
    height:1rem;
    clip-path:inset(0);

}

#sound-on:hover{
    animation:hide-on 1s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.hide-on{
    animation:hide-on 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
@keyframes hide-on{
    0%{
        transform: translate(0,0%);
    }
    100%{
        transform: translate(0,-100%); 
    }
}



/* .reveal-off{ */
/*     animation: reveal-off 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s; */
/* } */
/* .hide-off{ */
/*     animation: hide-off 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s; */
/* } */
/**/
/* @keyframes reveal-off { */
/*     0% { */
/*         transform: translate(0,200%); */
/*     } */
/*     100% { */
/*         transform: translate(0,100%); */
/*     }    */
/* } */
/**/
/* @keyframes hide-off { */
/*     0% { */
/*         transform: translate(0,-100%); */
/*     } */
/*     100% { */
/*         transform: translate(0,-200%); */
/*     }    */
/* } */
/**/
/* .reveal-on{ */
/*     /* display:block; */ */
/*     animation: reveal-on 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s; */
/* } */
/* .hide-on{ */
/*     animation: hide-on 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s; */
/* } */
/* @keyframes reveal-on { */
/*     0% { */
/*         transform: translate(0,100%); */
/*     } */
/*     100% { */
/*         transform: translate(0,0%); */
/*     }    */
/* } */
/**/
/* @keyframes hide-on { */
/*     0% { */
/*         transform: translate(0,0%); */
/*     } */
/*     100% { */
/*         transform: translate(0,100%); */
/*     }    */
/* } */
/**/
/**/
/**/
