#mouse-canvas{
    height: 40vw;
    width: 40vw;
    position: absolute;
    top: 12rem;
    right: -10rem;
}
#cup-canvas{
    height: 90vh;
    width: 90vw;
    position: absolute;
    /* top:0; */
    top: -5rem;
    left: -22rem;
}
