#what-i-do-con{
    width:100vw;
    min-height:100vh;
    box-sizing: border-box;
    
    font-family:avant-garde ;
    font-size: 1.5rem;
}

#what-i-do-con > span{
    position:relative;
}

#what-i-do{

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    
    border-bottom: 1px solid var(--light-brown);
    padding-bottom: 2rem;

    padding-inline: 3rem;
    color: var(--dark-brown);
}

#what-i-do-con > span > div{
    display: flex;
    border-bottom: 1px solid var(--light-brown);    
}


.class-1{
    position:absolute;

    width:100vw;
    
    dicplay:flex;
    align-items:center;
    justify-content:space-between;
    padding-inline: 3rem;

    color: var(--dark-brown);
    opacity:0.9;
    z-index:0;
    animation: slide-from-left 11s ease-in-out ;
    
}

.class-2{
    display:flex;
        align-items:center;
    justify-content:space-between;

    padding-inline: 3rem;
    color:var(--light-brown);
    /* opacity:0.3; */
    z-index:1;


}

@keyframes slide-from-left{
    0%{
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);    
    }   
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}



#what-i-do-con >span> div > h1{
    margin:0;
}

#what-i-do-con >span> div > p{
    margin:0;
}


