.what-i-do-con{
    min-height: 70vh;
    width: 100vw;
    color: var(--dark-brown);
    font-family: 'avant-garde';
    position: relative;
    box-sizing: border-box;

    /* padding-inline: 11rem; */

}
.i-do-text-con{
    width: 100vw;
/* position: relative; */
}

.wid-heading{
    font-size: 1rem;
    letter-spacing: .4rem;
    padding-inline: 11rem; ;
}

.what-i-do-text{
    margin-top: 2rem;

    font-size: 6.7rem;
    line-height: 6rem;
    /* margin-inline: 11rem; */
    
}
.heading{
    margin-left:  11rem;
}
.wid-trans{
    position: absolute;
    top: 0;
    opacity: 0.3;
    /* background-color: var(--orange); */
}

.wid-opac{
    position: absolute;
    top: 0;
}


hr{
    margin:0;
    padding: 0;
    width: 200vw;
    transform: translateX(-50%);
    border: 1px solid var(--light-brown);
    /* opacity: 0.3; */
}
.hr-black{
    width: 100vw;
    transform: translateX(-11rem);
    margin: 0;
    padding: 0;
    border: 1px solid black;
    
    transform: translateX(-50%);
    border: 1px solid var(--light-brown);
}

.wid-text-black-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    padding-right: 23rem;

    min-width: 100vw;

}

.wid-hidden-text{
    font-size: 1rem;
}
.relative-container{
    position: relative;
}

.container-absolute-flex{
    position: absolute;
    top:0;
    background-color: var(--orange);
    /* left:0;  */
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    padding-right: 23rem;
    
      flex-direction: row;
    justify-content: space-between;
    /* align-items: end; */
}

.rec1, .rec2, .rec3, .rec4, .rec5,   .rec6, .rec7, .rec8,   .rec9, .rec10, .rec11,.rec12, .rec13, .rec14, .rec15, .rec16{
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
}
.rec6, .rec7, .rec8,   .rec9, .rec10, .rec11{
    background-color: var(--orange);
    /* padding-inline: 0.3rem; */
    width: 100%;
}

.padding-right-0{
    padding-right: 0;
}


