.work-div-con{
    min-height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    font-family: 'avant-garde';
    padding-inline: 11rem;
    overflow: hidden;
    color:var(--dark-brown);
}

.work-title{
    font-size: 1.2rem;
    letter-spacing: .5rem;
}

.work-text{
    
    font-size:4.5rem;
    letter-spacing:0rem;
    margin:0;
    line-height: 4.7rem;

}

.work-text-con{
    position: relative;
}
.work-text-opac{
    position: absolute;
    top:0;
}
.work-text-trans{
    opacity: 0.3;
}
.color-black{
    color:black;
}

.innovationrdec {
    min-width: 100vw;
}
